<head>
    <title>Fuel Quote History</title>
    <link rel="stylesheet" href="./css/history.css">
    <script src="https://kit.fontawesome.com/7890dbf088.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
            <h1>Fuel Quote History<i onclick="location.href='/profile'" class='far fa-user-circle'></i></h1>
        <div class="table-wrapper">
            <table class="fl-table">
                <thead>
                <tr>
                    <th>Gallons Requested</th>
                    <th>Delivery Address</th>
                    <th>Delivery Date</th>
                    <th>Suggested Price / gallon</th>
                    <th>Total Amount Due</th>
                </tr>
                <!-- </thead>
                <tbody>
                <tr>
                    <td>  </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                </tr>
                </tr>
                <tbody> -->

                <% for(var i=0; i < fuel_data_user.length; i++) { %>
                    <tr>
                        <td><%= fuel_data_user[i].gallons_requested %></td>
                        <td><%= fuel_data_user[i].address %></td>
                        <td><%= fuel_data_user[i].delivery_date %></td>
                        <td>$<%= parseFloat(fuel_data_user[i].customer_price_per_gallon).toFixed(2) %></td>
                        <td>$<%= parseFloat(fuel_data_user[i].total_price).toFixed(2) %></td>
                    </tr>
                <% } %>

            </table>
        </div>
    </div>
    <div class="clearfix">
        <button type="button" class="cancelbtn" onclick="location.href='/fuelQuoteForm'">Go Back</button>
    </div>
</body>